global:
  scrape_interval: 5s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: "node-exporter"
    static_configs:
      - targets: ["node-exporter:9100"]

  # Example: backend API metrics
  # - job_name: "backend_api"
  #   metrics_path: "/metrics"
  #   static_configs:
  #     - targets: ["host.docker.internal:3001"]
